@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilização para Webkit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  @apply bg-gray-500 shadow-md shadow-black;
}

::-webkit-scrollbar-track {
  @apply bg-gray-600; /* Cor de fundo da barra de rolagem */
}

/* Estilização para Firefox */
/* Vale ressaltar que o Firefox requer o uso da propriedade scrollbar-color */
/* para definir tanto a cor da alça quanto a cor do fundo da barra de rolagem */
/* Isso só funciona no Firefox 64 e versões posteriores */
/* Antes disso, você só pode alterar a cor da alça usando scrollbar-face-color */

/* Versões recentes do Firefox (64+) */
* {
  scrollbar-color: #00ff00 #000000;
}

/* Versões mais antigas do Firefox (63 e abaixo) */
* {
  scrollbar-face-color: #00ff00;
}

* {
  scrollbar-track-color: #000000;
}

/* Estilização para Edge e Internet Explorer */
/* Edge requer o uso da propriedade scrollbar-color, semelhante ao Firefox */
/* Internet Explorer não suporta muitas personalizações avançadas da barra de rolagem */

* {
  scrollbar-color: #00ff00 #000000;
}
